#container{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    height: 100px;
    width: 400px;
}

.case{
    height: 100px;
    width: 100px;
    padding: 10px;
    border: solid black 1px; 
    font-size: 80px;
    text-align: center;    
}

.case:hover{
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.5);
}